ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: api.kube-apiserver-proxy.dev
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: wildcard.kube-apiserver-proxy.dev-tls
      hosts:
        - api.kube-apiserver-proxy.dev

service:
  type: ClusterIP
  port: 8080

clusterRole:
  rules:
    - apiGroups: ["*"]
      resources: ["*"]
      verbs: ["*"]
